{% extends "base.html" %}
{% block title %} Placeholder {% endblock %}

{% block content%}

{% if current_user.is_authenticated %}
<h2>Hello! {{current_user.username}}</h2>
{% endif %}

<ul>
{% for user in online_users %}

<li>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{user.username}}</h5>
          <p class="card-text">{{user.email}}</p>
          <a href=" {{ url_for('chat.chat', username=user.username) }} " class="btn btn-primary">Message</a>
        </div>
      </div>
</li>

{% endfor %}
</ul>

{% endblock %}