{% extends "base.html" %}
{% block title %} Placeholder {% endblock %}

{% block content%}

<!-- Update this -->
<h6>Hello! {{current_user.username}}</h6>


<ul>
{% for user in online_users %}

<li>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{user.username}}</h5>
          <p class="card-text">{{user.email}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</li>

{% endfor %}
</ul>

{% endblock %}